* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* background: #333; */
    color: #fff;
    overflow-y: hidden;
}

main {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
    linear-gradient(to bottom right, rgba(110, 96, 236, 0), rgba(14, 22, 247, 0.3)),
    url(images/bg.jpg) no-repeat center center/cover;
}
.wrapper {
    padding: 20px;
    width: 300px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
}
.timer {
    font-size: 3rem;
    margin: 20px 0;
}
.buttons {
    margin: 30px 0;
}
button {
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
}
button i {
    font-size: 1.3rem;
}
.start-pause {
    background-color: rgb(10, 81, 10);
}
.reset {
    background-color: rgb(182, 9, 9);
}